.side-bar {
  min-width: 200px;
  height: 100vh;
}

.sidebar-row {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.6rem;
  margin-left: 8px;
}

.sidebar-row:hover {
  background-color: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar-row:hover > .sideBar-icon {
  color: red;
}

.sideBar-title {
  margin-left: 1rem;
  font-weight: 500;
}

.selected {
  background-color: #f2f2f2;
  border-radius: 10px;
}

.selected > .sideBar-icon {
  color: red;
}

hr {
  margin: 10px 0px 8px 8px;
}

@media (max-width: 768px) {
  .side-bar {
    min-width: 70px;
    position: fixed;
    z-index: 999;
    background-color: white;
    transform: translateX(0);
    transition: transform 0.2s ease-in;
  }
  .sidebar-row {
    padding: 0.5rem;
    margin: 0;
    flex-direction: column;
  }
  .sideBar-title {
    margin: 0;
    font-size: 0.6rem;
  }
  .no-sideBar {
    transform: translateX(-100%);
  }
}
