.cata-cont {
  width: calc(100vw - 270px);
}
.cata-bar {
  padding: 0.5rem 0;
  font-size: 0.8rem;
  display: flex;
  overflow-x: scroll;
}

.cata-bar::-webkit-scrollbar {
  width: 0px;
}

.active {
  background-color: black !important;
  color: white !important;
}

.cata-bar span {
  margin-right: 1rem;
  padding: 0.4rem 0.8rem;
  white-space: nowrap;
  background-color: #f2f2f2;
  color: black;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .cata-cont {
    width: inherit;
  }
}
